<div class="bg-light" *ngIf="phrase">
  <div class="border p-4 text-success font-weight-bolder">{{phrase.fullPhrase}}</div>
  <a *ngIf="id"
    [routerLink]="['']"
    type="button" class="btn btn-secondary mt-3">Go to main
  </a>
    <a *ngIf="!id"
      [routerLink]="['phrase/', phrase.id]"
      type="button" class="btn btn-secondary mt-3">Go to this phrase
    </a>
</div>

<div *ngIf="error">
  <div class="text-danger">
    {{error}}
  </div>
  <div *ngIf="id">
    <div>Would you like to return to to main page?</div>
    <div>
      <a [routerLink]="['']"
         type="button" class="btn btn-secondary mt-3">Go to main
      </a>
    </div>
  </div>
</div>

