<div class="bg-light p-1 mt-3">
  <h5>Phrase creation form</h5>
  <form [formGroup]="form" autocomplete="on">
    <div class="form-group">
      <div *ngIf="errors" class="form-error-message">
        <div *ngFor="let error of errors">
          <ng-container *ngIf="error['fullPhrase']">
            <small class="text-danger">{{error['fullPhrase']}}</small>
          </ng-container>
        </div>
      </div>

      <input type="text" formControlName="fullPhrase" class="form-control" id="fullPhrase" placeholder="Enter phrase to create">
    </div>
    <button
      type="submit" class="btn btn-primary"
      (click)="onCreate()"
    >Create new</button>
  </form>
</div>

<div *ngIf="phrase && message" class="bg-light p-1 mt-3">
  <div>{{message}}</div>
  <button
    [routerLink]="['phrase/', phrase.id]"
    type="button" class="btn btn-sm btn-success">Go to created phrase
  </button>
</div>

